<div class="panel" data-ng-controller="tasksCtrl">

  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href="javascript:;">Home</a>
      </li>
      <li>
        <a href="javascript:;">Tasks</a>
      </li>

    </ol>
  </div>
  <div class="panel-body">

    <button class="btn btn-success pull-right" style="margin-bottom: 20px;" ng-click="addTask()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <translate>Add Task</translate>
    </button>




    <table class="table table-bordered bordered table-striped table-condensed "   >
      <thead>
      <tr>
        <th><a ng-click="sortType='id'; sortReverse = !sortReverse">Id</a></th>
        <th><a ng-click="sortType='name'; sortReverse = !sortReverse">Name</a></th>
        <th><a ng-click="sortType='description'; sortReverse = !sortReverse">Description</a></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="task in tasks" ng-click="editTask(task.id)">
        <td>{{task.id}}</td>
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>

      </tr>
      </tbody>
    </table>

    <pagination class="pull-right"
      ng-model="currentPage"
      total-items="totalItems"
      max-size="maxSize"
      boundary-links="true">
    </pagination>

  </div>
</div>
